$mainContentWidth: 575px;

.hero {
	height: 425px;
	background-image: url('../img/hero.jpg');
	background-size: cover;
	padding-top: 135px;

	.new-message-box {
		width: 100%;
		max-width: $mainContentWidth;
		height: 155px;
		margin: 0 auto;
		background-color: rgba(0, 204, 153, 0.7);
		border-radius: 3px;
		padding: 30px;
		position: relative;

		> input {
			margin-top: 10px;
			background-color: transparent;
			font-size: 30px;
			outline: 0;
			border: 0;
			color: white;
			font-weight: lighter;
			width: 100%;

			@include placeholder(rgba(255,255,255,0.7), light);
		}

		.actions {
			position: absolute;
			bottom: 30px;
			height: 20px;

			a {
				margin-right: 45px;
				color: rgba(255,255,255,0.7);
				text-decoration: none;

				&:hover {
					text-decoration: none;
					color: white;
				}

				&:last-of-type {
					margin-right: 0px;
				}
			}
			.add-photo {
				@include sprite($photo, inline-block);
				margin-right: 10px;
			}

			.add-video {
				@include sprite($video, inline-block);
				margin-right: 10px;
			}

			.label {
				vertical-align: text-bottom;
			}
		}
	}

	/* Subnav */
	.subnav {
		width: $mainContentWidth;
		margin: 0 auto;
		position: relative;
		top: 89px;

		a {
			margin-right: 40px;
			padding: 0 10px 20px;
			color: $iconColor;
			text-transform: uppercase;
			font-size: 12px;

			&.active {
				border-bottom: 4px solid $secondaryLinkColor;
				color: white;
			}

			&:hover {
				color: white;
			}
		}

		.display-options {
			float: right;

			> div {
				margin-right: 20px;
				cursor: pointer;

				&:last-of-type {
					margin-right: 0px;
				}
			}
		}

		.list {
			@include sprite($list-inactive, inline-block);

			&.active, &:hover {
				@include sprite($list-active, inline-block);
			}
		}

		.tile {
			@include sprite($tile-inactive, inline-block);

			&.active, &:hover {
				@include sprite($tile-active, inline-block);
			}
		}
	}
}