$postPadding: 25px;
$trayContentWidth: 1175px;

.posts {
	height: auto;
	width: 100%;
	padding-top: 50px;

	&.list {
		max-width: $mainContentWidth;
		padding: 50px $postPadding 0 $postPadding;
		margin: 0 auto;
	}

	&.tile {
		max-width: $trayContentWidth;
		margin: 0 auto;
		overflow: auto;

		.column {
			width: 33.33%;
			padding-right: 27px;
			float: left;

			&:last-of-type {
				padding-right: 0px;
			}
		}

		.post {
			max-width: 375px;
			float: left;
			display: inline-block;

			.metadata {
				margin: 20px 0;
				position: initial;
				float: right;
			}
		}
	}

	.post {
		width: 100%;
		height: auto;
		background-color: white;
		border-radius: 3px;
		border: 1px solid $dropdownDividerColor;
		margin-bottom: $postPadding;
		overflow-y: hidden;

		.post-content {
			padding: $postPadding;
			position: relative;
		}

		.avatar {
			width: 30px;
			height: 30px;
			border-radius: 5px;
			float: left;
			margin-right: $postPadding;
		}

		.post-message {
			display: inline-block;
			color: $dropdownTextColor;
			width: calc(100% - 55px);

			p {
				margin: 0;
			}

			.owner-name {
				line-height: 1em;
				color: $postOwnerColor;
				margin-bottom: 1em;
			}

			a {
				color: $generalLinkColor;

				&:hover {
					color: $iconColor;
				}
			}
		}

		.metadata {
			position: absolute;
			top: $postPadding;
			right: $postPadding;

			.icon {
				float: left;
				margin-right: 20px;
				cursor: pointer;
			}

			.reply {
				@include sprite($reply);
			}

			.like {
				@include sprite($like);
			}

			p {
				margin: 0;
				float: left;
				font-size: 14px;
				color: $iconColor;
				line-height: 1.3em;
			}
		}

		.post-media {
			height: 390px;
			position: relative;

			.play-button {
				@include sprite($play-video);
				display: none;
				position: absolute;
				top: 50%;
				margin-top: -50px;
				left: 50%;
				margin-left: -50px;
				cursor: pointer;
			}
		}

		&.video .post-media .play-button {
			display: block;
		}
	}
}

@media only screen and (min-width: 1240px) {
	/* 1080p tv, bigger desktop */
	.posts.tile .column {
		width: 33.33%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    /* tablets and smaller desktop */
    .posts.tile {
    	padding-left: $postPadding;
    	padding-right: $postPadding;

    	.column {
    		width: 50%;
    	}

    	.post {
    		max-width: 100%;
    	}
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .posts.tile {
    	.column {
    		width: 100%;
    		padding: 0 $postPadding;

    		&:last-of-type {
    			padding: 0 $postPadding;

    		}
    	}

    	.post {
    		max-width: 100%;

    		.post-media img {
    			width: 100%;
    			height: 100%;
    		}
    	}
    }
}