$down-arrow: -0px -0px 11px 8px;
$list-active: -0px -8px 13px 13px;
$list-inactive: -0px -21px 13px 13px;
$tile-inactive: -0px -34px 13px 13px;
$tile-active: -0px -47px 13px 13px;
$video: -0px -60px 22px 17px;
$like: -0px -77px 17px 17px;
$photo: -0px -94px 22px 17px;
$reply: -0px -111px 17px 17px;
$magnifying-glass: -0px -128px 20px 20px;
$logo: -0px -148px 141px 29px;
$new-message: -0px -177px 35px 30px;
$play-video: -0px -207px 104px 104px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url("../img/sprite.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .icon {
    background-image: url("../img/sprite@2x.png");
    background-size: 141px 311px;
  }
}