// Colors
$secondaryLinkColor: #00cc99; // teal
$generalLinkColor: #c8ced5; // light grey
$bodyTextColor: #262728; // black
$iconColor: #bec3cc; // dark grey

$outlineGrey: #44474b;

$dropdownBackgroundColor: #f4f5f7; // offwhite
$dropdownTextColor: #70767f;
$dropdownDividerColor: #dee1e5;

// Sizes
$headerBarHeight: 60px;