@import "vendor/_normalize";
@import "_mixins";
@import "_variables";
@import "_sprites";

* {
	font-family: 'Open Sans', sans-serif;
 	box-sizing: border-box;
}

a {
	color: white;
	text-decoration: none;

	&:hover {
		color: white;
	}
}

body {
	background-color: white;
	color: $bodyTextColor;
}

.container {
	max-width: 1175px;
}

// Page styles
@import "_header";
@import "_home";
@import "_posts";
@import "_footer";