@import "vendor/_normalize";
@import "vendor/_skeleton";
@import "_mixins";
@import "_variables";
@import "_sprites";

* {
	font-family: 'Open Sans', sans-serif;
 	box-sizing: border-box;
}

body {
	background-color: white;
	color: $bodyTextColor;
}

.container {
	max-width: 1175px;
}

// Page styles
@import "_header";
@import "_home";
