@import "vendor/_normalize";
@import "vendor/_skeleton";
@import "_mixins";
@import "_variables";
@import "_sprites";
@import "_header";
// Page styles
@import "_home";

* {
	font-family: 'Open Sans', sans-serif;
 	box-sizing: border-box;
}

a {
	color: white;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: white;
	}
}

body {
	background-color: white;
	color: $bodyTextColor;
}
